[submodule "bindings/janet"]
	path = bindings/janet
	url = https://github.com/janet-lang/janet
[submodule "libs/janet-html"]
	path = libs/janet-html
	url = https://github.com/swlkr/janet-html
[submodule "libs/spork"]
	path = libs/spork
	url = https://github.com/janet-lang/spork
[submodule "bindings/json"]
	path = bindings/json
	url = https://github.com/janet-lang/json
[submodule "bindings/sqlite3"]
	path = bindings/sqlite3
	url = https://github.com/janet-lang/sqlite3
